* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
  font-family: "Be Vietnam Pro", sans-serif;
  /* debugging  */
}

/* body {
  width: 100%;
} */

.block-3 {
  display: flex;
  flex-direction: column;
}

.block-3 h2 {
  color: #242e53;
  font-size: 2.45088rem;
}

.mobil {
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
  width: 414px;
  height: 60px;
  top: 40px;
  left: 56px;
}

.logo-nav {
  width: 107px;
  height: 25px;
  position: relative;
  top: 20px;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tenis {
  background-color: crimson;
  width: 100%;
}
